In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel('safi.xlsx')
df.columns = df.columns.str.strip().str.lower().str.replace(r"\s+", "_", regex = True)

In [4]:
print(df.shape)

(1701, 22)

In [5]:
print(df.isna().sum())

learner_signup_datetime      0
opportunity_id               0
opportunity_name             0
opportunity_category         0
opportunity_end_date       912
gender                       0
country                      0
entry_created_at             0
status_description           0
status_code                  0
apply_date                   0
opportunity_start_date       0
start_date_missing           0
age                          0
age_band                     0
apply_lag                    0
start_lag                    0
opportunity_duration       912
signup_cohort                0
completion_flag              0
stage_reached                0
institution_name             0
dtype: int64

In [6]:
print('Duplicate rows:', df.duplicated().sum())

Duplicate rows: 0

In [7]:
print(df.dtypes)

learner_signup_datetime    datetime64[ns]
opportunity_id                     object
opportunity_name                   object
opportunity_category               object
opportunity_end_date       datetime64[ns]
gender                             object
country                            object
entry_created_at           datetime64[ns]
status_description                 object
status_code                         int64
apply_date                 datetime64[ns]
opportunity_start_date     datetime64[ns]
start_date_missing                 object
age                                 int64
age_band                           object
apply_lag                           int64
start_lag                           int64
opportunity_duration              float64
signup_cohort                      object
completion_flag                     int64
stage_reached                       int64
institution_name                   object
dtype: object

In [8]:
df['institution_name'] = df['institution_name'].str.title()
df['country'] = df['country'].str.title()

In [9]:
df.describe()

,learner_signup_datetime,opportunity_end_date,entry_created_at,status_code,apply_date,opportunity_start_date,age,apply_lag,start_lag,opportunity_duration,completion_flag,stage_reached
count,1701,789,1701,1701.000000,1701,1701,1701.000000,1701.000000,1701.000000,789.000000,1701.000000,1701.000000
mean,2023-09-15 11:43:22.215755520,2024-05-08 15:47:54.550063360,2024-03-11 12:02:33.472075264,1067.748383,2023-11-15 20:40:15.048207104,2024-01-28 05:11:12.743092736,25.666079,61.051734,72.824809,111.389100,0.808936,2.429747
min,2023-01-05 16:32:39,2024-03-11 18:00:00,2024-03-11 12:01:57,1050.000000,2023-03-13 11:50:13,2023-03-20 02:30:00,14.000000,0.000000,0.000000,38.000000,0.000000,1.000000
25%,2023-07-09 15:09:23,2024-03-11 18:00:00,2024-03-11 12:02:09,1070.000000,2023-08-27 19:14:01,2024-01-08 03:30:46,23.000000,0.000000,18.000000,63.000000,1.000000,2.000000
50%,2023-08-26 20:35:58,2024-03-11 18:00:00,2024-03-11 12:02:30,1070.000000,2023-12-12 19:19:19,2024-01-08 03:30:46,25.000000,5.000000,40.000000,63.000000,1.000000,2.000000
75%,2023-12-14 23:14:27,2024-04-19 18:29:00,2024-03-11 12:03:06,1070.000000,2024-01-27 18:15:21,2024-02-17 14:00:00,27.000000,104.000000,133.000000,63.000000,1.000000,2.000000
max,2024-03-09 19:44:32,2025-12-24 03:34:00,2024-03-11 12:03:14,1120.000000,2024-03-10 18:46:44,2024-05-31 07:04:54,59.000000,418.000000,322.000000,837.000000,1.000000,6.000000
std,NaN,NaN,NaN,10.679180,NaN,NaN,4.962585,90.831788,67.307791,186.806666,0.393255,0.895365

In [10]:
df.mode().iloc[0]

learner_signup_datetime               2023-04-17 03:09:39
opportunity_id             00000000-0GRA-BD28-CXVV-EYEX21
opportunity_name                   Health Care Management
opportunity_category                           Internship
opportunity_end_date                  2024-03-11 18:00:00
gender                                               Male
country                                     United States
entry_created_at                      2024-03-11 12:02:43
status_description                         Team Allocated
status_code                                        1070.0
apply_date                            2023-08-17 12:28:25
opportunity_start_date                2024-01-08 03:30:46
start_date_missing                                     No
age                                                  24.0
age_band                                            25-34
apply_lag                                             0.0
start_lag                                            24.0
opportunity_duration                                 63.0
signup_cohort                                     2023-08
completion_flag                                       1.0
stage_reached                                         2.0
institution_name                   Saint Louis University
Name: 0, dtype: object

In [11]:
df['completion_flag'].value_counts()

completion_flag
1    1376
0     325
Name: count, dtype: int64

In [12]:
df['completion_flag'].value_counts(normalize=True) *100

completion_flag
1    80.893592
0    19.106408
Name: proportion, dtype: float64

In [13]:
df['stage_reached'].value_counts()

stage_reached
2    1359
4     292
5      33
6      13
1       4
Name: count, dtype: int64

In [14]:
df['stage_reached'].value_counts(normalize=True)*100

stage_reached
2    79.894180
4    17.166373
5     1.940035
6     0.764256
1     0.235156
Name: proportion, dtype: float64

In [15]:
df.groupby('gender')['completion_flag'].value_counts()

gender                 completion_flag
Don't want to specify  0                    1
                       1                    1
Female                 1                  562
                       0                  143
Male                   1                  813
                       0                  181
Name: count, dtype: int64

In [16]:
df.groupby('gender')['completion_flag'].value_counts(normalize=True)*100

gender                 completion_flag
Don't want to specify  0                  50.000000
                       1                  50.000000
Female                 1                  79.716312
                       0                  20.283688
Male                   1                  81.790744
                       0                  18.209256
Name: proportion, dtype: float64

In [17]:
df.groupby('age_band')['completion_flag'].value_counts()

age_band  completion_flag
18-24     1                  617
          0                  118
25-34     1                  652
          0                  190
35-44     1                   57
          0                   10
45-54     1                   16
          0                    6
55-64     1                    3
<18       1                   31
          0                    1
Name: count, dtype: int64

In [18]:
df.groupby('age_band')['completion_flag'].value_counts(normalize=True)*100

age_band  completion_flag
18-24     1                   83.945578
          0                   16.054422
25-34     1                   77.434679
          0                   22.565321
35-44     1                   85.074627
          0                   14.925373
45-54     1                   72.727273
          0                   27.272727
55-64     1                  100.000000
<18       1                   96.875000
          0                    3.125000
Name: proportion, dtype: float64

In [19]:
df.groupby('institution_name')['completion_flag'].value_counts()

institution_name                                                        completion_flag
Aamusted                                                                1                  1
Abc                                                                     0                  1
Abdullah Gul University                                                 1                  1
Abia State University                                                   0                  1
Abn And Prr College Of Science                                          1                  1
                                                                                          ..
Zhuhai No.1 High School International Department                        1                  2
Â© 2023 Tomtom  Â© Openstreetmap Sri Venkateswara College Of Engineering  1                  1
Ä°stanbul Bilgi University                                               1                  2
å¹¿å·žå¸‚å®žéªŒå¤–è¯­å­¦æ ¡                                                               1                  1
ç æµ·å¸‚ä¸€é™„å±žå®žéªŒå­¦æ ¡                                                              1                  1
Name: count, Length: 671, dtype: int64

In [20]:
df.groupby('institution_name')['completion_flag'].value_counts(normalize=True)*100

institution_name                                                        completion_flag
Aamusted                                                                1                  100.0
Abc                                                                     0                  100.0
Abdullah Gul University                                                 1                  100.0
Abia State University                                                   0                  100.0
Abn And Prr College Of Science                                          1                  100.0
                                                                                           ...
Zhuhai No.1 High School International Department                        1                  100.0
Â© 2023 Tomtom  Â© Openstreetmap Sri Venkateswara College Of Engineering  1                  100.0
Ä°stanbul Bilgi University                                               1                  100.0
å¹¿å·žå¸‚å®žéªŒå¤–è¯­å­¦æ ¡                                                               1                  100.0
ç æµ·å¸‚ä¸€é™„å±žå®žéªŒå­¦æ ¡                                                              1                  100.0
Name: proportion, Length: 671, dtype: float64

In [21]:
df.corr(numeric_only=True)['completion_flag'].sort_values(ascending=False)

completion_flag         1.000000
status_code             0.530609
opportunity_duration    0.205558
start_lag               0.120830
apply_lag               0.053122
age                    -0.064661
stage_reached          -0.907699
Name: completion_flag, dtype: float64

In [22]:
df.corr(numeric_only=True)

,status_code,age,apply_lag,start_lag,opportunity_duration,completion_flag,stage_reached
status_code,1.000000,-0.040612,0.027270,0.106362,0.178727,0.530609,-0.216184
age,-0.040612,1.000000,-0.073665,0.133258,-0.007021,-0.064661,0.062764
apply_lag,0.027270,-0.073665,1.000000,-0.264418,0.020804,0.053122,-0.045530
start_lag,0.106362,0.133258,-0.264418,1.000000,-0.113536,0.120830,-0.092249
opportunity_duration,0.178727,-0.007021,0.020804,-0.113536,1.000000,0.205558,-0.195584
completion_flag,0.530609,-0.064661,0.053122,0.120830,0.205558,1.000000,-0.907699
stage_reached,-0.216184,0.062764,-0.045530,-0.092249,-0.195584,-0.907699,1.000000

In [ ]:
df.to_excel('cleaned_dataset.xlsx', index=False)

In [3]:
# dataset Overview
print("Shape (rows, columns):", df.shape)
print("\nColumn Names:\n", df.columns.tolist())
print("\nData Types:\n", df.dtypes)

print("\nMissing Values per Column:\n", df.isnull().sum())
print("\nBasic Statistics:\n", df.describe(include='all'))  # includes both numeric & categorical


# Check how many duplicate rows exist
print("Number of duplicate rows:", df.duplicated().sum())

#  View duplicate rows (if any)
print("\nDuplicate rows:")
print(df[df.duplicated()])

Shape (rows, columns): (1701, 22)

Column Names:
 ['learner_signup_datetime', 'opportunity_id', 'opportunity_name', 'opportunity_category', 'opportunity_end_date', 'gender', 'country', 'entry_created_at', 'status_description', 'status_code', 'apply_date', 'opportunity_start_date', 'start_date_missing', 'age', 'age_band', 'apply_lag', 'start_lag', 'opportunity_duration', 'signup_cohort', 'completion_flag', 'stage_reached', 'institution_name']

Data Types:
 learner_signup_datetime    datetime64[ns]
opportunity_id                     object
opportunity_name                   object
opportunity_category               object
opportunity_end_date       datetime64[ns]
gender                             object
country                            object
entry_created_at           datetime64[ns]
status_description                 object
status_code                         int64
apply_date                 datetime64[ns]
opportunity_start_date     datetime64[ns]
start_date_missing                 object
age                                 int64
age_band                           object
apply_lag                           int64
start_lag                           int64
opportunity_duration              float64
signup_cohort                      object
completion_flag                     int64
stage_reached                       int64
institution_name                   object
dtype: object

Missing Values per Column:
 learner_signup_datetime      0
opportunity_id               0
opportunity_name             0
opportunity_category         0
opportunity_end_date       912
gender                       0
country                      0
entry_created_at             0
status_description           0
status_code                  0
apply_date                   0
opportunity_start_date       0
start_date_missing           0
age                          0
age_band                     0
apply_lag                    0
start_lag                    0
opportunity_duration       912
signup_cohort                0
completion_flag              0
stage_reached                0
institution_name             0
dtype: int64

Basic Statistics:
               learner_signup_datetime                  opportunity_id  \
count                            1701                            1701
unique                            NaN                              15
top                               NaN  00000000-0GRA-BD28-CXVV-EYEX21
freq                              NaN                             422
mean    2023-09-15 11:43:22.215755520                             NaN
min               2023-01-05 16:32:39                             NaN
25%               2023-07-09 15:09:23                             NaN
50%               2023-08-26 20:35:58                             NaN
75%               2023-12-14 23:14:27                             NaN
max               2024-03-09 19:44:32                             NaN
std                               NaN                             NaN

              opportunity_name opportunity_category  \
count                     1701                 1701
unique                      15                    5
top     Health Care Management           Internship
freq                       422                  945
mean                       NaN                  NaN
min                        NaN                  NaN
25%                        NaN                  NaN
50%                        NaN                  NaN
75%                        NaN                  NaN
max                        NaN                  NaN
std                        NaN                  NaN

                 opportunity_end_date gender        country  \
count                             789   1701           1701
unique                            NaN      3             39
top                               NaN   Male  United States
freq                              NaN    994            658
mean    2024-05-08 15:47:54.550063360    NaN            NaN
min               2024-03-11 18:00:00    NaN            NaN
25%               2024-03-11 18:00:00    NaN            NaN
50%               2024-03-11 18:00:00    NaN            NaN
75%               2024-04-19 18:29:00    NaN            NaN
max               2025-12-24 03:34:00    NaN            NaN
std                               NaN    NaN            NaN

                     entry_created_at status_description  status_code  ...  \
count                            1701               1701  1701.000000  ...
unique                            NaN                  5          NaN  ...
top                               NaN     Team Allocated          NaN  ...
freq                              NaN               1359          NaN  ...
mean    2024-03-11 12:02:33.472075264                NaN  1067.748383  ...
min               2024-03-11 12:01:57                NaN  1050.000000  ...
25%               2024-03-11 12:02:09                NaN  1070.000000  ...
50%               2024-03-11 12:02:30                NaN  1070.000000  ...
75%               2024-03-11 12:03:06                NaN  1070.000000  ...
max               2024-03-11 12:03:14                NaN  1120.000000  ...
std                               NaN                NaN    10.679180  ...

       start_date_missing          age age_band    apply_lag    start_lag  \
count                1701  1701.000000     1701  1701.000000  1701.000000
unique                  1          NaN        6          NaN          NaN
top                    No          NaN    25-34          NaN          NaN
freq                 1701          NaN      842          NaN          NaN
mean                  NaN    25.666079      NaN    61.051734    72.824809
min                   NaN    14.000000      NaN     0.000000     0.000000
25%                   NaN    23.000000      NaN     0.000000    18.000000
50%                   NaN    25.000000      NaN     5.000000    40.000000
75%                   NaN    27.000000      NaN   104.000000   133.000000
max                   NaN    59.000000      NaN   418.000000   322.000000
std                   NaN     4.962585      NaN    90.831788    67.307791

        opportunity_duration  signup_cohort  completion_flag stage_reached  \
count             789.000000           1701      1701.000000   1701.000000
unique                   NaN             15              NaN           NaN
top                      NaN        2023-08              NaN           NaN
freq                     NaN            346              NaN           NaN
mean              111.389100            NaN         0.808936      2.429747
min                38.000000            NaN         0.000000      1.000000
25%                63.000000            NaN         1.000000      2.000000
50%                63.000000            NaN         1.000000      2.000000
75%                63.000000            NaN         1.000000      2.000000
max               837.000000            NaN         1.000000      6.000000
std               186.806666            NaN         0.393255      0.895365

              institution_name
count                     1701
unique                     683
top     Saint Louis University
freq                       433
mean                       NaN
min                        NaN
25%                        NaN
50%                        NaN
75%                        NaN
max                        NaN
std                        NaN

[11 rows x 22 columns]
Number of duplicate rows: 0

Duplicate rows:
Empty DataFrame
Columns: [learner_signup_datetime, opportunity_id, opportunity_name, opportunity_category, opportunity_end_date, gender, country, entry_created_at, status_description, status_code, apply_date, opportunity_start_date, start_date_missing, age, age_band, apply_lag, start_lag, opportunity_duration, signup_cohort, completion_flag, stage_reached, institution_name]
Index: []

[0 rows x 22 columns]

In [4]:
print("=== Potential Data Quality Issues ===")



# 3. Constant columns (only 1 unique value â†’ no useful info)
constant_cols = [col for col in df.columns if df[col].nunique() <= 1]
print("\n Constant Columns:", constant_cols)

# 4. High cardinality categorical columns
cat_cols = df.select_dtypes(include=['object', 'category']).columns
for col in cat_cols:
    unique_ratio = df[col].nunique() / len(df)
    if unique_ratio > 0.9:  # >90% unique values = suspicious for categorical
        print(f"\n High cardinality column (possible ID): {col} ({df[col].nunique()} unique values)")

# 5. Outliers in numeric columns (using IQR rule)
num_cols = df.select_dtypes(include=['number']).columns
for col in num_cols:
    Q1 = df[col].quantile(0.25)
    Q3 = df[col].quantile(0.75)
    IQR = Q3 - Q1
    outliers = df[(df[col] < (Q1 - 1.5 * IQR)) | (df[col] > (Q3 + 1.5 * IQR))]
    if not outliers.empty:
        print(f"\n Possible outliers detected in column: {col} ({len(outliers)} rows)")

# 6. Datetime columns with strange ranges
date_cols = df.select_dtypes(include=['datetime64[ns]']).columns
for col in date_cols:
    if df[col].notnull().sum() > 0:
        min_date, max_date = df[col].min(), df[col].max()
        print(f"\nðŸ”¹ Datetime column {col}: min={min_date}, max={max_date}")

=== Potential Data Quality Issues ===

 Constant Columns: ['start_date_missing']

 Possible outliers detected in column: status_code (342 rows)

 Possible outliers detected in column: age (123 rows)

 Possible outliers detected in column: apply_lag (96 rows)

 Possible outliers detected in column: start_lag (8 rows)

 Possible outliers detected in column: opportunity_duration (202 rows)

 Possible outliers detected in column: completion_flag (325 rows)

 Possible outliers detected in column: stage_reached (342 rows)

ðŸ”¹ Datetime column learner_signup_datetime: min=2023-01-05 16:32:39, max=2024-03-09 19:44:32

ðŸ”¹ Datetime column opportunity_end_date: min=2024-03-11 18:00:00, max=2025-12-24 03:34:00

ðŸ”¹ Datetime column entry_created_at: min=2024-03-11 12:01:57, max=2024-03-11 12:03:14

ðŸ”¹ Datetime column apply_date: min=2023-03-13 11:50:13, max=2024-03-10 18:46:44

ðŸ”¹ Datetime column opportunity_start_date: min=2023-03-20 02:30:00, max=2024-05-31 07:04:54

In [5]:
# missing value percentage per column
missing_percent = df.isnull().mean() * 100

print(missing_percent)

learner_signup_datetime     0.00000
opportunity_id              0.00000
opportunity_name            0.00000
opportunity_category        0.00000
opportunity_end_date       53.61552
gender                      0.00000
country                     0.00000
entry_created_at            0.00000
status_description          0.00000
status_code                 0.00000
apply_date                  0.00000
opportunity_start_date      0.00000
start_date_missing          0.00000
age                         0.00000
age_band                    0.00000
apply_lag                   0.00000
start_lag                   0.00000
opportunity_duration       53.61552
signup_cohort               0.00000
completion_flag             0.00000
stage_reached               0.00000
institution_name            0.00000
dtype: float64